.ExT1 {
    /*color: brown;*/
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace !important;
    font-size: x-large;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}
